.homeHeader {
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: 30px;
  text-align: center;

  h1 {
    width: 95vw;
    margin: 10px 0 0;
    font-size: 30px;
    color: #fff;
    background-color: #3d524c;
    padding: 5px;
    border-radius: 8px 8px 0 0;

    @media(min-width: 780px) {
      width: 600px ;
    }
  }

  span {
    width: 95vw;
    color: #fff;
    background-color: #688d82;
    padding: 5px;
    border-radius: 0 0 8px 8px;

    @media(min-width: 780px) {
      width: 600px ;
    }
  }
}

.homeMain {
  text-align: center;

  .response {
    margin: 5px auto;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    width: 95vw;
  }

  @mixin inline-animation($duration) {
    $name: inline-#{unique-id()};

    @keyframes #{$name} {
      @content;
    }

    animation-name: $name;
    animation-duration: $duration;
    animation-iteration-count: infinite;
    animation-play-state: inherit;
    animation-timing-function: linear;
  }

  .loading {
    @include inline-animation(0.5s) {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    margin: 0 auto;

    border: 5px solid #dce5e2;
    border-bottom-color: #3d524c;
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }

  form {
    margin: auto;
    width: 70vw;

    @media(min-width: 780px) {
      width: 400px;
    }

    .divInput {
      display: flex;
      flex-direction: column;
      width: 70vw;
      margin-top: 15px;
      padding: 5px;
      background-color: #c4d4cf;
      border-radius: 4px;

      @media(min-width: 780px) {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        width: 400px;
        height: 100px;
      }

      input {
        width: 100%;
        height: 35px;
        margin-top: 5px;
        border: none;
        border-radius: 4px;
        text-align: center;
        font-size: 16px;
      }

      input::-webkit-calendar-picker-indicator {
        display: none;
      }

      input[type="date"]::-webkit-input-placeholder {
        visibility: hidden;
      }

      .scaleButtons {
        display: flex;
        justify-content: space-evenly;

        .activeButton {
          filter: brightness(1);
          border-radius: 4px;
        }

        button {
          width: 90px;
          height: 35px;
          margin-top: 5px;
          border: none;
          border-radius: 4px;
          color: #fff;
          text-transform: uppercase;
          font-size: 11px;
          font-weight: bold;
          filter: brightness(0.5);
          background-color: #000;

          cursor: pointer;

          transition: 0.2s;

          &:last-child {
            background-color: red;
          }

          @media(min-width: 780px) {
            width: 120px;
          }
        }
      }
    }

    button[type="submit"] {
      width: 70vw;
      height: 40px;

      margin: 20px 0 10px 0;
      cursor: pointer;

      background-color: #48ad59;
      color: #fff;
      border: none;
      border-radius: 4px;

      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 1px;
      font-weight: bold;

      transition: 0.2s;

      &:hover {
        filter: brightness(1.2);
      }

      &:disabled {
        filter: brightness(0.6);
        cursor: not-allowed;
      }

      @media(min-width: 780px) {
        width: 400px;
      }
    }
  }
}

.section {
  margin: 0 auto;

  width: 100vw;
  min-height: 250px;
  background-color: #c4d4cf;

  text-align: center;
  margin-top: 10px;
  padding-top: 8px;

  @media(min-width: 780px) {
    width: 600px;
    border-radius: 0 0 8px 8px;
  }

  h3 {
    margin-top: 0;
  }

  ul {
    width: 95vw;

    @media(min-width: 780px) {
      width: 590px ;
    }

    li {
      text-align: justify;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}
