html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a, button, input {
  font-family: 'Montserrat', sans-serif;
}


